<!DOCTYPE html>
<html>
    <head>
        <title> Admin Page</title>
    </head>
    <body>
        <h1>Welcome Admin</h1>
        <form action="/logout">
          <button> Logout </button>
        </form> 
        <br>
        <br>
        <form action="/admin-add">
            <button id="add">Add Class</button>
        </form>
        <br>
        <form action="/admin-remove">
            <button id="remove">Remove Class</button>
        </form>
        <br>
        
        <h3>Classes</h3>
        
        <% classList.forEach(function(i){  %>
        
            [<a href="/admin-update?id=<%= i.id %>">UPDATE</a>] 

            <%= i.subject %> <%= i.classNumber %> <%= i.title %><br>
    
    
        <% }) %>
        
    
    </body>
</html>