<!DOCTYPE html>
<html>
    <head>
        <title> My Classes </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <h1>My Classes</h1>
        <div id="content">
            <form action="/logout">
              <button> Logout </button>
            </form> 
            <form action="/search">
              <button> Return to Search </button>
            </form> 
            <%if (typeof(added) != "undefined") { %>
            
                <%if (added=="None") { %>
                    <h3>No classes found!</h3>
                <% } else {%>
                <br>
                    <h4><%=added.length%> classes added.</h4>
                    <% added.forEach( function(class_){ %> 
                    <div>
                        <br>
                        <a class="classLink" href="/classPage?classId=<%= class_.id %>">-<%= class_.subject %> <%= class_.classNumber %> </a>
                    </div>
                    <br><br>
                    <% })  %>
                <% } %>
            <% }%>
        </div>
        
    </body>
</html>