<!DOCTYPE html>
<html>
    <head>
        <title> regular</title>
    </head>
    <body>
        <h1>Welcome User</h1>
        <form action="/logout">
          <button> Logout </button>
        </form> 
        
        
    
    </body>
</html>