<!DOCTYPE html>
<html>
    <head>
        <title> Report Page</title>
    </head>
    <body>
         <center> 
        <h1>Report page</h1>
     <p name = "subject2"> 
   <h3> Total amount of classes </h3>
     <% subject2.forEach(function(i){ %>
                
                  <p> <%=i.subject%>  <%=i.classNumber%>  </p>
                
                <% }); %>
     </p>
     
     <p name = "subject3"> 
     <h3> Total amount of comments and users</h3>
      <% subject3.forEach(function(i){ %>
                
                    <p> <%=i.text%> <h3> <%=i.username%> </h3> </p>
                
                <% }); %>
     
     
     </p>
     
    <form action="/admin">
         <button>
             back to admin
         </button>
     </form>
     </center>
    </body>
</html>